project_name              = "nt548-lab01"
region                    = "us-east-1"
vpc_cidr                  = "10.0.0.0/16"
public_subnet_cidr        = "10.0.1.0/24"
private_subnet_cidr       = "10.0.2.0/24"
availability_zone_public  = "us-east-1a"
availability_zone_private = "us-east-1b"
instance_type             = "t2.micro"
key_name                  = "your-keypair-name"
allowed_ssh_cidr          = "your.ip.addr.here/32"